.warning {
  margin: 100px auto;
  font-size: 24px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  width: 1180px;
  margin: 0 auto;
}

.date {
  margin: 30px auto 0;
  text-align: center;
  width: 1180px;
  font-size: 22px;
  color: #282e33;
  font-family: Arial, Helvetica, sans-serif;
}
